<div class="row well">
	<div class="span12">
		<h1><%= app_info.name %></h1>

		<br/>
		<h4>Olá! Bem vindo ao meu portfolio,</h4>
		<br/>

		<p>
			<h4>Registro de Alterações:</h4>
			<ul class="unstyled">
				<li>&nbsp;- Imagens do portfólio alteradas para JPG [04.07.12]</li>
				<li>&nbsp;- Adicionada página <a href="/sobre" class="bold">Sobre</a> [24.06.12]</li>
			</ul>
		</p>

		<hr/>

		<p>
			<em>* Este website/portfolio está em fase de desenvolvimento e testes. Por favor ignore "erros", incluindo páginas e links quebrados.</em>
		</p>
	</div>
</div>


<div class="row">

  <div class="span6 offset3 columns">
  	<div class="text-center">
	  	<h2>Projetos Recentes <small>e antigos também :)</small></h2>
	  </div>

    <br/>

		<div id="portfolio-gallery" class="carousel slide">
			<div class="carousel-inner">

				<div class="active item">
					<img src="/img/portfolio/empreendedor.jpg" alt="Revista Empreendedor" />
					<div class="carousel-caption">
            <h4>Revista Empreendedor - 2012 &rsaquo; <a href="http://empreendedor.com.br/" target="_blank">Visitar</a></h4>
            <p>Desenvolvimento com Ruby on Rails <br/>Colaboração com HTML5, CSS3, JavaScript <br/>Powered by <a href="http://agenciahive.com.br/" target="_blank">Agência Hive</a></p>
          </div>
				</div>

				<div class="item">
					<img src="/img/portfolio/gvfloripa.jpg" alt="GV Floripa" />
					<div class="carousel-caption">
	          <h4>GV Floripa - 2011 &rsaquo; <a href="http://gvfloripa.com.br/" target="_blank">Visitar</a></h4>
	          <p>Wordpress/PHP + Mobile <br/>Desenvolvimento com HTML5, CSS3, JavaScript</p>
					</div>
				</div>

				<div class="item">
					<img src="/img/portfolio/ludici.jpg" alt="Ludici" />
					<div class="carousel-caption">
            <h4>Ludici - 2011 &rsaquo; <a href="http://ludici.com.br/" target="_blank">Visitar</a></h4>
            <p>Desenvolvimento com PHP <br/>Colaboração com HTML5, CSS3, JavaScript <br/>Powered by <a href="http://cafundo.tv/" target="_blank">Cafundó</a></p>
					</div>
				</div>

				<div class="item">
					<img src="/img/portfolio/triptransformadores.jpg" alt="Trip Transformadores" />
					<div class="carousel-caption">
            <h4>Trip Transformadores - 2011 &rsaquo; <a href="http://revistatrip.uol.com.br/transformadores/" target="_blank">Visitar</a></h4>
            <p>Desenvolvimento com PHP <br/>Colaboração com HTML5, CSS3, JavaScript <br/>Powered by <a href="http://cafundo.tv/" target="_blank">Cafundó</a></p>
					</div>
				</div>

				<div class="item">
					<img src="/img/portfolio/ecco.jpg" alt="Ecco! Energy Drink" />
					<div class="carousel-caption">
	          <h4>Ecco! Energy Drink - 2012 <!-- &rsaquo; <a href="#ecco" target="_blank"></a> --></h4>
	          <p>Desenvolvimento com Wordpress/PHP, HTML5, CSS3, JavaScript <br/>Powered by <a href="http://agenciahive.com.br/" target="_blank">Agência Hive</a></p>
					</div>
				</div>

				<div class="item">
					<img src="/img/portfolio/effect.jpg" alt="Effect Energy Drink" />
					<div class="carousel-caption">
	          <h4>Effect Energy Drink - 2012 <!-- &rsaquo; <a href="#effect" target="_blank"></a> --></h4>
	          <p>Desenvolvimento com Wordpress/PHP, HTML5, CSS3, JavaScript <br/>Powered by <a href="http://agenciahive.com.br/" target="_blank">Agência Hive</a></p>
					</div>
				</div>

				<div class="item">
					<img src="/img/portfolio/beatka.jpg" alt="Beatka Vodka" />
					<div class="carousel-caption">
	          <h4>Beatka Vodka - 2012 <!-- &rsaquo; <a href="#beatka" target="_blank"></a> --></h4>
	          <p>Desenvolvimento com Wordpress/PHP, HTML5, CSS3, JavaScript <br/>Powered by <a href="http://agenciahive.com.br/" target="_blank">Agência Hive</a></p>
					</div>
				</div>

				<div class="item">
					<img src="/img/portfolio/drsommacal.jpg" alt="Dr Sommacal" />
					<div class="carousel-caption">
	          <h4>Dr Sommacal - 2011 &rsaquo; <a href="http://drsommacal.com.br/" target="_blank">Visitar</a></h4>
	          <p>Colaboração com XHTML, CSS2, JavaScript <br/>Powered by <a href="http://codde.com.br/" target="_blank">Codde</a></p>
					</div>
				</div>

				<div class="item">
					<img src="/img/portfolio/casadesaudesaosebastiao.jpg" alt="Casa de Saúde São Sebastião" />
					<div class="carousel-caption">
	          <h4>Casa de Saúde São Sebastião - 2011 &rsaquo; <a href="http://casadesaudesaosebastiao.com.br/" target="_blank">Visitar</a></h4>
	          <p>Colaboração com XHTML, CSS2, JavaScript <br/>Powered by <a href="http://codde.com.br/" target="_blank">Codde</a></p>
					</div>
				</div>

				<div class="item">
					<img src="/img/portfolio/igrejahabil.jpg" alt="Igreja Hábil" />
					<div class="carousel-caption">
	          <h4>Igreja Hábil - 2008..2010 &rsaquo; <a href="http://igrejahabil.com.br/" target="_blank">Visitar</a></h4>
	          <p>Elaboração de Layout/Design + Logo <br/>Desenvolvimento com Ruby on Rails, XHTML, CSS2, JavaScript <br/>Powered by <a href="http://habilenterprise.com.br/" target="_blank">Koinonia Software</a></p>
					</div>
				</div>

				<div class="item">
					<img src="/img/portfolio/habilenterprise.jpg" alt="Hábil Enterprise" />
					<div class="carousel-caption">
	          <h4>Hábil Enterprise - 2010 &rsaquo; <a href="http://habilenterprise.com.br/" target="_blank">Visitar</a></h4>
	          <p>Elaboração de Layout/Design + Logo <br/>Desenvolvimento com ASP, XHTML, CSS2, JavaScript <br/>Powered by <a href="http://habilenterprise.com.br/" target="_blank">Koinonia Software</a></p>
					</div>
				</div>

				<div class="item">
					<img src="/img/portfolio/bibliahabil.jpg" alt="Bíblia Hábil" />
					<div class="carousel-caption">
            <h4>Bíblia Hábil - 2009 &rsaquo; <a href="http://bibliahabil.com.br/" target="_blank">Visitar</a></h4>
            <p>Elaboração de Layout/Design <br/>Desenvolvimento com ASP, XHTML, CSS2, JavaScript <br/>Powered by <a href="http://habilenterprise.com.br/" target="_blank">Koinonia Software</a></p>
					</div>
				</div>

				<div class="item">
					<img src="/img/portfolio/habilpessoal.jpg" alt="Hábil Pessoal" />
					<div class="carousel-caption">
            <h4>Hábil Pessoal - 2009 &rsaquo; <a href="http://habilpessoal.com.br/" target="_blank">Visitar</a></h4>
            <p>Elaboração de Layout/Design, parcialmente modificado pela Ceicom <br/>Powered by <a href="http://habilenterprise.com.br/" target="_blank">Koinonia Software</a></p>
					</div>
				</div>

				<div class="item">
					<img src="/img/portfolio/habilnfe.jpg" alt="Hábil NFE" />
					<div class="carousel-caption">
            <h4>Hábil NFE - 2008 &rsaquo; <a href="http://habil.com.br/nfe/" target="_blank">Visitar</a></h4>
            <p>Elaboração de Design <br/>Desenvolvimento com ASP, XHTML, CSS2, JavaScript <br/>Powered by <a href="http://habilenterprise.com.br/" target="_blank">Koinonia Software</a></p>
					</div>
				</div>

				<div class="item">
					<img src="/img/portfolio/cthabil.jpg" alt="CTH Hábil" />
					<div class="carousel-caption">
            <h4>CTH Hábil - 2008 &rsaquo; <a href="http://habil.com.br/nfe/" target="_blank">Visitar</a></h4>
            <p>Elaboração de Design <br/>Desenvolvimento com PHP, XHTML, CSS2, JavaScript <br/>Powered by <a href="http://habilenterprise.com.br/" target="_blank">Koinonia Software</a></p>
					</div>
				</div>

			</div>

			<a class="carousel-control left" href="#portfolio-gallery" data-slide="prev">&lsaquo;</a>
			<a class="carousel-control right" href="#portfolio-gallery" data-slide="next">&rsaquo;</a>
		</div>

	</div>
</div>


<script src="/js/views/index.js"></script>