<div class="row well">
	<div class="span12">
		<h2>Sobre</h2>

		<br/>
		<h4>Programador Ruby on Rails, Node.js, Web Developer e User Interface Designer</h4>

		<p>
			Localidade: <strong>Florianópolis - SC - Brasil</strong>
		</p>
	</div>
</div>


<div class="row">
  <div class="span12 columns text-center">
  	<em>Mais conteúdo/informações nesta página em breve... Enquanto isso, curta abaixo, este widget que mostra o clima em tempo real :)</em>
  </div>
</div>


<div class="row">
	<hr/>

	<div class="span12 offset columns text-center">
		<div id="yowindow" class="text-center">
			<p class="text-center"><em>Tema: Aeroporto de Florianópolis :)</em></p>

	    <object type="application/x-shockwave-flash" data="http://swf.yowindow.com/yowidget3.swf" width="800" height="500">
	    	<param name="movie" value="http://swf.yowindow.com/yowidget3.swf"/>
	    	<param name="allowfullscreen" value="true"/>
	    	<param name="wmode" value="opaque"/>
	    	<param name="bgcolor" value="#FFFFFF"/>
	    	<param name="flashvars" 
	    	value="location_id=gn:3463237&amp;location_name=Florian%C3%B3polis&amp;landscape=airport&amp;time_format=24&amp;unit_system=custom&amp;u_temperature=c&amp;u_wind_speed=kph&amp;u_pressure=hpa&amp;u_distance=km&amp;u_rain_rate=mm&amp;lang=br&amp;background=#FFFFFF&amp;copyright_bar=false"
	    />
        <a href="http://yowindow.com/weatherwidget.php"
        style="width:800px;height:500px;display: block;text-indent: -50000px;font-size: 0px;background:#DDF url(http://yowindow.com/img/logo.png) no-repeat scroll 50% 50%;"
        >HTML weather</a>
	    </object>

	    <br/>
	    <br/>

	    <p class="text-center"><em>Tema: "La Plaia" :)</em></p>

	    <object type="application/x-shockwave-flash" data="http://swf.yowindow.com/yowidget3.swf" width="800" height="500">
	    	<param name="movie" value="http://swf.yowindow.com/yowidget3.swf"/>
	    	<param name="allowfullscreen" value="true"/>
	    	<param name="wmode" value="opaque"/>
	    	<param name="bgcolor" value="#FFFFFF"/>
	    	<param name="flashvars" 
	    	value="location_id=gn:3463237&amp;location_name=Florian%C3%B3polis&amp;landscape=seaside&amp;time_format=24&amp;unit_system=metric&amp;lang=pt&amp;background=#FFFFFF&amp;copyright_bar=false"
	    />
        <a href="http://yowindow.com/weatherwidget.php"
        style="width:800px;height:500px;display: block;text-indent: -50000px;font-size: 0px;background:#DDF url(http://yowindow.com/img/logo.png) no-repeat scroll 50% 50%;"
        >HTML weather</a>
	    </object>

	    <br/>
	    <br/>

			<div class="text-center" style="height: 15px; font-size: 14px; font-family: Arial,Helvetica,sans-serif;">
				<span style="float:left;"><a target="_top" href="http://yowindow.com?client=widget&amp;link=copyright" style="color: #2fa900; font-weight:bold; text-decoration:none;" title="HTML weather">YoWindow.com</a></span>
				<span style="float:right; color:#888888;">Forecast by&nbsp;<a href="http://yr.no" style="color: #2fa900; text-decoration:none;">yr.no</a></span>
			</div>
		</div>

	</div>
</div>


<script src="/js/views/sobre.js"></script>